.container{
	background-color:black;
    display: grid;
    grid-template-rows:repeat(20,1fr);
    grid-template-columns: repeat(40,1fr);   
    height: 100vh;
    padding: 10px;
}

.square{
    border: 1px solid gray;
	background-color:rgb(29, 29, 29);
}

.square:hover{
    background-color: aqua;
}